<form method="POST" action="/cats/<%= catId %>/?_method=PUT">
    <label for="catName" >Name</label>
    <input id="catName" type="text" name="name" value="<%= cat.name %>">
    <label for="catType" >Type</label>
    <input id="catType" type="text" name="type" value="<%= cat.type %>">
    <input type="submit">

</form>