<div class="container center-align">
    <br><br>
    <h4>Would you like to see a list of cats or dogs?</h4>
    <br>
    <div class="button-div">
      <a href="/cats"><button>Cats</button></a>
      <a href="/dogs"><button>Dogs</button></a>
    </div>
  </div>
</div>
