<!-- <h1>DOGS DOGS DOGS</h1>
<br><br><br>
<h1>KIIIIIIIIIIITTIES</h1> -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dogs and Cats, living together!</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>DOGS DOGS DOGS</h1>
  <br><br><br>
  <h1>KIIIIIIIIIIITTIES</h1>
</body>
</html>