<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>(In)Famous Cats and Dogs!</title>
</head>

<body>
    <ul>
        <a href="/">Home, You've Made it!</a>
        <a href="/cats"> (In)Famous Cats!</a>
        <a href="/cats/new">Add a Kitty!</a>
        <a href="/dogs">(In)Famous Dogs!</a>
        <a href="/dogs/new">Add a Doggo!</a>
    </ul>

    <%- body %>

</body>

</html>