    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Raining Cats and Dogs</title>
    </head>
    <body>
        <navbar>
            <ul>
                <!--NOT file paths, URL path extensions of off the local host extensions-->
                <li><a href="/cats/new">Add a Cat</a></li>
                <li><a href="/dogs/new">Add a Dog</a></li>
                <li><a href="/cats">View Cats</a></li>
                <li><a href="/dogs">View Dogs</a></li>
                <li><a href="/">Home</a></li>
            </ul>   
        </navbar>
        <%- body %>
    </body>
    </html>