<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Raining Dogs and Cats</title>
</head>

<body>
    <div id="nav-wrapper">
        <div id="nav"><a href="/dogs">Doggos</a></div>
        <div id="nav"><a href="/dogs/new">Add a Doggo</a></div>
        <div id="nav"><a href="/cats">Cats</a></div>
        <div id="nav"><a href="/cats/new">Add a Catto</a></div>
    </div>

    <br>
    <%- body %>
</body>

</html>