<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Dogs&Cats</title>
</head>
<body>
    <h1>DOGS && CATS</h1>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dogs">Dogs</a></li>
        <li><a href="/dogs/new">Add Dog</a></li>
        <li><a href="/cats">Cats</a></li>
        <li><a href="/cats/new">Add Cat</a></li>
    </ul>
    
    <%- body %>
</body>
</html>