<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raining Cats and Dogs</title>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <ul id="navBar">
        <li class="navLink"><a href="/cats">Famous CATS</a></li>
        <br />
        <li class="navLink"><a href="/dogs">Famous DOGS</a></li>
        <br />
        <li class="navLink"><a href="/cats/new">Add a CAT</a></li>
        <br/>
        <li class="navLink"><a href="/dogs/new">Add a DOG</a></li>
    </ul>
    <%- body %>
</body>
</html>