<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Cats and Dogs</title>
</head>
<body>
    <ul class="nav">
        <li class="navBar"><a href="/cats">Cat</a></li>
        <li class="navBar"><a href="/cats/new">Add A Cat</a></li>
        <li class="navBar"><a href="/dogs">Dog</a></li>
        <li class="navBar"><a href="/dogs/new">Add a Dog</a></li>
    </ul>
    <h1>Famous Cats and Dogs</h1>
    <%- body %>
</body>
</html>