<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Cats & Dogs are lit fam</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cats/new">Add a Cat</a></li>
        <li><a href="/cats">List of Cats</a></li>
        <li><a href="/dogs/new">Add a Dog</a></li>
        <li><a href="/dogs">List of Dogs</a></li>
    </ul>
    <h1>__</h1>
    <div>
        <%- body %>
    </div>
</body>
</html>