<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Cats and Dogs</title>
</head>
<body>
    <ul>
        <li><a href="/dogs"> Dogs Home Page </a></li>
        <li><a href="/dogs/new"> Add a Dog </a></li>

    </ul>
    <h1> DOGS AND CATS</h1>
    <%- body %>
</body>
</html>