<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>It's Raining Cats & Dogs!</title>
</head>
<body>
  <div id="header">
    <a href="/dogs">Dog Index</a>
    <a href="/cats">Cat Index</a>
    <a href="/">Home</a>
  </div>
  <h1>Cats... and Dogs.... and... That's It</h1>
  <%- body %>
</body>
</html>