<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Famous Fluffheads</title>
</head>
<body>
    <ul id="navBar">
        <li><a href="/cats">Cat Home</a></li>
        <li><a href="/cats/new">Add A Cat</a></li>
        <li><a href="/dogs">Dog Home</a></li>
        <li><a href="/dogs/new">Add A Dog</a></li>
    </ul>
    <h1>LOOK AT THESE INCREDIBLE STARS</h1>
    <%- body %>
</body>
</html>