<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats & Dogs</title>
</head>
<body>
    <h1>A site dedicated to Cats & Dogs</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cats/new">Cats</a></li>
        <li><a href="/dogs/new">Dogs</a></li>
    </ul>
    <%- body %>
</body>
</html>