<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <a href="/">Home</a>
        <a href="/cats">Show Cats</a>
        <a href="/dogs">Show dogs</a>
        <a href="/cats/new">New Cat</a>
        <a href="/dogs/new">New Dog</a>
    </ul>
    
    <%- body %>
</body>
</html>