<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='style.css' type='text/css'>
    <title>Cats and Dogs</title>
</head>
<body>
    <h1>Cats & Dogs</h1>
    <nav>
        <a href="/cats">See cats!</a>
        <a href="/dogs">Look at Dogs instead</a>
    </nav>
    <%- body %>
</body>
</html>