<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DogsNCats</title>
  <link rel="stylesheet" href="/styleDogs.css" type="text/css">
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dogs">Dogs</a></li>
    <li><a href="/cats">Cats</a></li>
  </ul>
  <%- body %> 
</body>
</html>