<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Satisfy&display=swap" rel="stylesheet">
    <title>Famous Felines and Preeminent Puppers</title>
</head>
<body>
    <nav>
        <div id="nav-left">
            <a href="/cats">All Felines</a>
             | 
            <a href="/cats/add">Add Feline</a>
        </div>
        <h1><a href="/">Famous Felines and Preeminent Puppers</a></h1>
        <div id="nav-right">
            <a href="/dogs">All Puppers</a>
             | 
            <a href="/dogs/add">Add Pupper</a>
        </div>
    </nav>

    <%- body %>
</body>
</html>