<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Cats and Dogs</title>
</head>
<body>
    <h1>Hello Layout</h1>
    <ul>
      <li><a href="/cats">Cats</a></li>
      <li><a href="/cats/new">new cat</a></li>
      <li><a href="/Dogs">Dogs</a></li>
      <li><a href="/Dogs/new">new dog</a></li>
    </ul>
    <%- body %>
</body>
</html>