<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canine's and Feline's</title>
</head>
<body>
    <ul>
        <a href="/">Home</a>
        <a href="/cats">Cats here</a>
        <a href="/dogs">Dogs here</a>
        <a href="/cats/new">Add a Cat</a>
        <a href="/dogs/new">Add a Dog</a>
    </ul>

    <%- body %>
</body>
</html> 