<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">

    <title>Dogs and Cats</title>
</head>
<body>
  <ul id="list">
      <li><a href="/dogs">Dogs</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/cats">Cats</a></li>
      <li><a href="/dogs/new">Add a Dog</a></li>
  </ul>  
<h1> I love Dogs and I love Cats !!! </h1>
<%- body %>


</body>
</html>