<form method="POST" action="/dogs/<%= dogId %>/?_method=PUT">
  <label for="">Name</label>
  <input type="text" name="name" value="<%= dog.name %>" />
  <label for="">Img URL</label>
  <input type="text" name="image" value="<%= dog.image %>" />
  <label for="">What's your dog known for?</label>
  <input type="text" name="famousFor" value="<%= dog.famousFor %>" />
  <input type="submit" />
</form>
