<form method="POST" action="/dogs/<%= dogID %>/?_method=PUT">
  <label for="dogName">Name</label>
  <input id="dogName" type="text" name="name" value="<%= dog.name %>">
  <br>

  <label for="dogImage">Image URL</label>
  <input id="dogImage" type="text" name="image" value="<%= dog.image %>">
  <br>

  <label for="dogFamous">What Are They Famous For?</label>
  <input id="dogFamous" type="text" name="famousFor" value="<%= dog.famousFor %>">
  <br>
  
  <input type="submit">
</form> 