<form method="GET" action="/dogs">
    <label for="nameFilter">Filter by name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
<%  myDogs.forEach((dog, index) => {  %>
        <li><img src="<%= dog.type %>" </img> <div id="name"><%= dog.name %> </div>
            <a id="edit" href="/dogs/edit/<%= index %>">Edit</a>
            <form method="POST" action="/dogs/<%= index %>/?_method=DELETE">
                <input id="btn" type ="submit" value="Delete">
            </form>
        </li>
    <%  })   %>
</ul>