<form method="GET" action="/dogs">
    <label for="nameFilter">Filter by name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% myDog.forEach((dog, index) => { %>
    <!-- performing logic  -->
    <li><%= dog.name %> is <img src="<%= dog.image %>">
        <a href='/dogs/edit/<%= index %>'>Edit</a>
        <!-- printing to the front end - need =s -->
        <form method="POST" action="/dogs/<%= index %>/?_method=DELETE">
            <input type="submit" value="DELETE">
            <%  }) %>
    </li>
</ul>
  