<form method="POST" action="/dogs">
    <label for="dogImg">Image URL</label>
    <input id="dogImg" type="text" name="image">
    
    <label for="dogName">Name</label>
    <input id="dogName" type="text" name="name">

    <label for="dogFamous">Famous For</label>
    <input id="dogFamous" type="text" name="famousFor">

    <input type="submit">
</form>
