<form action="/dogs" method = "POST">
    <label for="dogName">Name</label>
    <input type="text" id = "dogName" name = "name">

    <label for="dogImage">Image</label>
    <input type="text" id = "dogImage" name = "image">

    <label for="dogFamous">Famous for :</label>
    <input type="text" id = "dogFamous" name = "famousFor">

    <input type="submit">
</form>