<h2>Let's meet a new pup!</h2>
<form method="POST" action='/dogs'>
    <label for="dogName">Name:</label>
    <input type='text' id='dogName' name='name'>
    <label for="dogImage">Image URL:</label>
    <input type='text' id='dogImage' name='imgURL'>
    <label for="dogFamous">Famous for:</label>
    <input type='text' id="dogFamous" name='famousFor'>
    <input type='submit' value='Submit'>
</form>