<form method="POST" action="/dogs">
  <label for="dogName">Name</label>
  <input type="text" id="dogName" name="name">

  <label for="famousFor">Famous For</label>
  <input type="text" id="famousFor" name="famousFor">

  <label for="image">Image</label>
  <input type="text" id="image" name="image">

  <input type="submit" value="Add New Dog">
</form>