<form action="/dogs" method="POST">
    <label for="dogsName">Name</label><br>
    <input type="text" id="dogsName" name="name" placeholder="Doggo's Name!">
    <br>
    <br>
    <label for="Image">Img Link</label><br>
    <input type="text" id="dogsImage" name="dogsimage" placeholder="Add an Image!">
    <br>
    <br>
    <label for="famousFor" id="famousFor" name="famousFor" >What're they (in)famous for?!</label><br>
    <input type="text" id="famousFor" name="famousFor" placeholder="What did I do!?">
    <br>
    <input type="submit">
    </form>