<form action="/dogs" method="POST">
    <label>Name</label>
    <input type="text" name="name">

    <label>Photo</label>
    <input type="url" name="image">

    <label>Why are they famous?</label>
    <input type="text" name="famousFor">
    
    <input type="submit">
</form>