<form method="POST" action="/dogs">
    <label for="dogName">Name:</label>
    <input id="dogName" type="text" required name="name">

    <label for="dogUrl">URL:</label>
    <input id="dogUrl" type="text" required name="image">

    <label for="dogDesc">Description:</label>
    <input id="dogDesc" type="text" required name="famousFor">

    <input type="submit">
</form>