<form method="POST" action="/cats">
    <label for="cat-name">Name: </label>
    <input type="text" id="cat-name" name="name" required>
    <label for="cat-img">Image URL: </label>
    <input type="text" id="cat-img" name="image">
    <label for="cat-fame">Famous for...</label>
    <input type="text" id="cat-fame" name="famousFor" required>
    <input type="submit">
</form>