<form method="POST" action="/cats/<%= catsId %>/?_method=PUT"> 
    <label for="">Name</label>
    <label for="catName">Name:</label>
    <input id="catName" type="text" required name="name" value="<%= cats.name  %>">

    <label for="catUrl">URL:</label>
    <input id="catUrl" type="text" required name="image" value="<%= cats.image  %>">

    <label for="catDesc">Description:</label>
    <input id="catDesc" type="text" required name="famousFor" value="<%= cats.famousFor  %>">

    <input type="submit">
</form>