<form method="POST" action="/cats/<%= catId %>/?_method=PUT">
    <label for="catName">Name</label>
    <input id="catName" type="text" name="name" value="<%= cat.name %>">
    <label for="famousFor">Famous For:</label>
    <input id="famousFor" type="text" name="famousFor" value="<%= cat.famousFor %>">
    <label for="image">Link a picture here:</label>
    <input id="image" type="text" name="image" value="<%= cat.image %>">
    <input type="submit">
</form>