<form action="/cats/<%= catId %>/?_method=PUT" method="POST">
    <label>Name</label>
    <input type="text" name='name' value="<%= cat.name %>">

    <label>Photo</label>
    <input type="url" name="image" value="<%= cat.image %>">

    <label>Famous for?</label>
    <input type="text" name="famousFor" value="<%= cat.famousFor %>">

    <input type="submit">
</form>