<form method="GET" action="/cats">
    <label for="nameFilter">Filter by Name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% myCats.forEach((cat, index) => { %>
    <li><%= cat.name %> is famous for <%= cat.famousFor %>
        <a href="/cats/edit/<%= index %>">Edit</a>
        <form method="POST" action="/cats/<%= index %>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
    </li>
    <% }) %>
    </ul>