<form method="POST" action="/cats">
    <label for="catName">Name</label>
    <input id="catName" type="text" name="name">

    <label for="catFamousFor">Famous For</label>
    <input id="catFamousFor" type="text" name="catFamousFor">

    <input type="submit">
</form>