<form method="POST" action="/cats">
  <label for="catName">Name</label>
  <input type="text" id="catName" name="name">

  <label for="famousFor">Famous For</label>
  <input type="text" id="famousFor" name="famousFor">

  <label for="image">Image</label>
  <input type="text" id="image" name="image">

  <input type="submit" value="Add New Cat">
</form>