<form method="POST" action="/cats">
  <label for="catName">Enter a Name:</label>
  <input id="catName" type="text" name="name">
  <br /><br />
  <label for="catUrl">Enter An Image URL For This Cat:</label>
  <input id="catUrl" type="text" name="image">
  <br /><br />
  <label for="famous">What Are They Famous For</label>
  <input id="famous" type="text" name="famousFor">
  <br /><br />
  <input type="submit">
</form> 