  
<form method="POST" action="/cats">
    <label for="catName">Name</label>
    <input id="catName" type="text" name="name">

    <label for="famousFor">Type</label>
    <input id="famousFor" type="text" name="famousFor">

    <label for="imageUrl">Link an image!</label>
    <input id="imageUrl" type="text" name="imageUrl">

    <input type="submit">
</form>