<form method="POST" action="/cats">
    <label for="catName">Name</label>
    <input id="catName" type="text" name="name">

    <label for="catImgUrl">Image URL</label>
    <input id="catImgUrl" type="text" name="image">

    <label for="catFamousFor">Why is your cat famous?</label>
    <input id="catFamousFor" type="text" name="famousFor">

    <input type="submit">
</form>