<form action="/cats" method="POST">
    <label for="catsName">Name</label>
    <input type="text" id="catsName" name="name">
    
    <label for="catsImage">Add Img URL</label>
    <input type="text" id="catsImage" name="img">
    
    <input type="submit">
    </form>