<form method="POST" action="/cats">
    <label for="catImg">Image URL</label>
    <input id="catImg" type="text" name="image">
    
    <label for="catName">Name</label>
    <input id="catName" type="text" name="name">

    <label for="catFamous">Famous For</label>
    <input id="catFamous" type="text" name="famousFor">

    <input type="submit">
</form>