<form method="POST" action="/Cats">
    <label for="CatName">Name</label>
    <input id="CatName" type="text" name="name">

    <label for="CatType">Type</label>
    <input id="CatType" type="text" name="type">

    <input type="submit">
</form>