<h2>Ooh a new kitten!</h2>
<form method="POST" action='/cats'>
    <label for='catName'>Name:</label>
    <input type='text' id='catName' name='name'>
    <label for='catImage'>Image URL:</label>
    <input type='text' id='catImage' name='imgURL'>
    <label for='catFamous'>Famous for:</label>
    <input type='text' id='catFamous' name='famousFor'>
    <input type='submit' value='Submit'>
</form>