<form method="POST" action="/cats">
    <div>
    <label for="catsName">Name</label>
    <input id="catsName" type="text" name="name">
    </div>
    <div>
    <label for="catsImage">Image</label>
    <input id="catsImage" type="text" name="image">
    </div>
    <div>
    <label for="catsFamous">Famous For</label>
    <input id="catsFamous" type="text" name="famousFor">
    </div>
    <div>
    <input type="submit">
    </div>
</form>