<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a cat to the cat stack</title>
  <link rel="stylesheet" href="/styleCats.css">
</head>
<body>

  <form action="/cats" method="POST">
    <label for="catName">Feline's Moniker:</label>
    <input type="text" id="catName" name="name">
    <br>
    <label for="catImage">Image (only url):</label>
    <input type="url" id="catImage" name="image">
    <br>
    <label for="catFamousFor">Kitty's claim to fame:</label>
    <input type="text" id="catFamousFor" name="famousFor">
    <br>
    <input type="submit" name="newDog" id="newDog">
  </form>
  
</body>
</html>
