<form method="POST" action="/cats">
  <label for="catName">Name</label>
  <input type="text" name="name">
  <label for="catImg">Image URl</label>
  <input id="catImg" type="text" name="image">
  <label for="catFamousFor">Famous For</label>
</form>