<form method="POST" action="/cats">
    <label for="catName">Name</label>
    <input id="catName" type="text" name="name">
  
    <label for="catType">Type</label>
    <input id="catType" type="text" name="type">
    
    <input type="submit">
  </form>