<form method="POST" action="/cats">
    <label for="catName">Name:</label>
    <input id="catName" type="text" required name="name">

    <label for="catUrl">URL:</label>
    <input id="catUrl" type="text" required name="image">

    <label for="catDesc">Description:</label>
    <input id="catDesc" type="text" required name="famousFor">

    <input type="submit">
</form>