<form method="POST" action="/cats">
    <label for="catName">Name</label>
    <input id="catName" type="text" name="name">
    
    <label for="catImage">Image</label>
    <input type="text" id="catImage" name="image">

    <label for="catFame">Famous, why?</label>
    <input id="catFame" type='text' name='famous'>

    <input type='submit'>
</form>