<!-- <h2><%= myCat.name %> is a <%= myCat.famousFor %></h2> -->
<!-- <h1><img src="<%= myCat.image%>" alt=""></h1 -->
 <!-- {"name": "Garfield", "image": "https://www.garfield.com/img/garfield.png", "famousFor": "lazy, fat, and cynical orange persian/tabby cat"},
 {"name": "Puss", "image": "https://images-na.ssl-images-amazon.com/images/I/51CP3A15JKL._AC_.jpg", "famousFor": "Great swordsman, trickery and also super cute"} -->